@model Biblioteca.Electrodomestico

@{
    ViewData["Title"] = "Alta de Casa";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="AltaForm" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="IdCasa">Casa:</label>
        <input asp-for="IdCasa" />

        <label asp-for="Nombre">Nombre:</label>
        <input asp-for="Nombre" />

        <label asp-for="Tipo">Tipo:</label>
        <input asp-for="Tipo" />

        <label asp-for="Ubicacion">Ubicacion:</label>
        <input asp-for="Ubicacion" />

        <label type="bool" asp-for="Encendido">Encendido:</label>
        <input asp-for="Encendido" />

    </div>
    <button type="submit">Guardar</button>
</form>
