@model Biblioteca.Usuario

@{
    ViewData["Title"] = "Alta de Usuario";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="AltaForm" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="IdUsuario">Usuario:</label>
        <input asp-for="IdUsuario" />
        <label asp-for="Nombre">Usuario:</label>
        <input asp-for="Nombre" />
        <label asp-for="Correo">Usuario:</label>
        <input asp-for="Correo" />
        <label asp-for="Contrasenia">Usuario:</label>
        <input asp-for="Contrasenia" />
        <label asp-for="Telefono">Usuario:</label>
        <input asp-for="Telefono" />
    </div>
    <button type="submit">Guardar</button>
</form>
